* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #eee;
}

body {
  background: url(https://i.ytimg.com/vi/-vFjSzSQ3q4/maxresdefault.jpg) no-repeat center top #353a40;
  background-size: 100%;
}
